#root {
  /*   max-width: 1550px; */

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --margin-left-text: 40px;
}

body {
  display: flex;
  /*   flex-wrap: wrap; */
}

.input-section {
  height: 100vh;
  width: 100%;
}

.all-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@media (max-width: 1920px) {
  .all-inputs-wrapper {
    grid-template-columns: 1fr;
  }
}

.input-wrapper {
  border: 1px solid rgb(255, 255, 255);
  /*   background-color: rgba(112, 153, 126, 0.226); */
  background-color: rgba(37, 37, 37, 0.034);
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#personal-information-section > h1:nth-child(1) {
  margin-bottom: 60px;
}

#education-section,
#experience-section {
  position: relative;
}

#add-education-input-btn,
#add-experience-input-btn {
  position: absolute;
  top: 5%;
  right: 2%;
}

.education-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}

.school-input {
  grid-column: 1/3;
}

/* Display resume -----------------------------------------------*/

/* Personal Information -----------------------------------------------*/

.resume-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline: auto;
}

.phone-email-wrapper {
  display: flex;
  max-width: 800px;
  gap: 60px;
  background-color: rgba(19, 95, 95, 0.384);
  border-radius: 16px;
  padding: 5px 30px;
}

.phone-number-wrapper,
.email-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Phone text, Email text */
.phone-number-wrapper > h2:nth-child(2),
.email-wrapper > h2:nth-child(2) {
  text-align: start;
  margin-bottom: auto;
}

/* Phone number, Email adress */
.phone-number-wrapper > h3:nth-child(3),
.email-wrapper > h3:nth-child(3) {
  grid-column: 2/3;
  align-self: start;
  font-size: 1.2rem;
}

/* Phone-emoji, Email emoji */
.phone-number-wrapper > h2:nth-child(1),
.email-wrapper > h2:nth-child(1) {
  filter: grayscale(100%) brightness(90%);
  font-size: 2rem;
  margin-left: auto;
  margin-right: 30px;
  margin-block: auto;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.534);
  padding: 5px;
  border-radius: 10px;
  grid-row: 1/3;
}

.name-about-me-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(19, 95, 95, 0.384);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  padding: 100px 10px;
  width: 70%;
}

.name-and-job-title-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* name */
.name-and-job-title-wraper > h1:nth-child(1) {
  font-size: 5rem;
  margin-bottom: auto;
}

/* Job Title */

.name-and-job-title-wraper > h2:nth-child(2) {
  margin-bottom: auto;
}

/* about me text */
.name-about-me-wrapper > h2:nth-child(3) {
  width: 60%;
}

/* about me text, name */
.name-about-me-wrapper > h2:nth-child(3),
.name-and-job-title-wraper {
  text-align: start;
  margin-left: var(--margin-left-text);
}

#profile-pic {
  position: absolute;
  height: 200px;
  top: 5%;
  right: 5%;
}

/* Education, Experience ------------------------------------------------------------ */

.education-wrapper-resumee,
.experience-wrapper-resumee {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  width: 50%;
  margin-left: var(--margin-left-text);
  gap: 30px;
}

/* Header */
.education-wrapper-resumee > h1:nth-child(1),
.experience-wrapper-resumee > h1:nth-child(1) {
  grid-column: 1/3;
  text-align: start;
}

.from-to-education-wraper-resumee,
.from-to-experience-wrapper-resumee {
  grid-column: 1/2;
  width: fit-content;
  text-align: start;
}

.from-to-education-wraper-resumee,
.school-degree-wrapper-resumee {
  text-align: start;
}

.experience-text-resumee {
  text-align: start;
}

#education-seperation-line {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.349);
  grid-column: 1/3;
  width: 60%;
}

.education-experience-wrapper {
  display: flex;
}
